.env
tiers/ServiceAccountWim.json
zip_outputs
temp
venv
output
utils/googdrive/certificates.json
utils/googdrive/credentials.json
utils/googdrive/client_secrets.json
.idea/
__pycache__/
venv.zip
.test_upload.py
venv2/
uploads/